body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.outer-container {
    text-align: center;
}

#canvas {
    background-color: black;
    display: block;
    margin-top: 35px;
}


.horizontal-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: absolute;
    top: 0;
    width: 44%; 
            margin-bottom: 20px;
}
#score {
    margin: 0;
}

#pause:hover {
    opacity: 0.5;
}